<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAI Export</title>
  </head>
  <body style="color: black">
    <img
      src="https://t3.ftcdn.net/jpg/00/45/68/94/360_F_45689425_KTdmkNBTaalAmJmJU9e0E6Sg9htz8W0J.jpg"
      alt=""
    />
    <br />

    <p style="color: black">
      This Transfer Link <%= link %> has now been downloaded.
    </p>
    <p style="color: black">
      Explore More Details to click
      <a
        style="color: black"
        href="https://weboney-files.vercel.app/my_transfer"
        >&nbsp;<span style="text-decoration: none; color: blue">here</span></a
      >
    </p>
    <p style="color: black">Downloaded System Info</p>
    <ul style="color: black">
      <li>Time:&nbsp; <%= time %></li>
      <li>Username:&nbsp;<%= userName %></li>
      <li>OS:&nbsp; <%= os %></li>
    </ul>

    <br />
  </body>
</html>
