<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAI Export</title>
  </head>
  <body style="color: black">
    <a href="https://weboney-files.vercel.app/" target="_blank">
      <img src="https://msmwebfiles.s3.amazonaws.com/1713334839774.png" alt=""
    /></a>
    <br />
    <p>Keep your login credentials confidential.</p>
    <p>Email:&nbsp; <%= email %></p>
    <p>Password:&nbsp;<%= password %></p>
    <br />
  </body>
</html>
